.conatainer.author
  .col-md-1
    %p= '123'
  .col-md-10
    .row
      .col-md-12
        %p.name= @author.name
    .row
      .col-md-12
        %p.biography= @author.biography
  .col-md-1
    %p= '123'