.container.books
  .row
    .col-md-9.shop_title
      Shop
      - (@books.count / 3).times do |col|
        .row
          - 3.times do |row|
            .col-md-4.book
              = image_tag('default_cover.jpg')
              - book = @books[ 3*row + col ]
              %p= link_to( "#{book.title}", book_path(book))

    .col-md-3.categories
      SHOP BY CATEGORIES
      .row
      Category1
      .row
      Category2
      .row
      Category3
