.row
  .col-sm-7
    .pull-right
      ITEM TOTAL:
  .col-sm-5
    .pull-left
      = "$#{@order.total_price}"
.row
  .col-sm-7
    .pull-right
      ORDER TOTAL:
  .col-sm-5
    .pull-left
      = "$"