// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bestseller {
  .authors {
    text-align: left;
  }
  .title {
    font-size: 1.5em;
    font-weight: bolder;
    padding-right: 0.5em;
  }
  .arrow {
    font-size: 3em;
    color: black;
    text-decoration: none;
  }

  .active {
    color: black;
  }

  .inactive {
    color: grey;
  }

  .fa-caret-left {
    float: right;
  }

  .fa-caret-right {
    float: left;
  }

  .price {
    font-size: 1.5em;
    font-weight: bolder;  }
}

.vertical-align {
    display: flex;
    align-items: center;
}
