// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bestsellers {
  margin-top: 2em;
  h2 {
    text-align: center;
  }

  h3 {
    float: left;
    border: 1px solid;
  }

  img {
    float: left;
  }
}

.to_left {
  //float: left;
}

.to_right {
  float: right;
}