.cart {
  .quantity_field {
    font-size: 0.9em;
    width: 2.8em !important;
  }

  .coupon_field {
    font-size: 0.9em;
    width: 9em !important;
    margin-top: 3px;
  }

  .price {
    font-size: 1em;
    font-weight: bold;
  }

  .btn-delete {
    color: black;
    padding: 0px 5px;
    border-radius: 10px;
    &:hover {
      color: red;
      background-color: #FFF0F0
    }
  }

  .subtotal {
    border-top: 2px dotted;
  }

  .buttons {
    margin-top: 1em;
  }
}