// Place all the styles related to the Customer controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit_customer {
  h3 {
    font-size: 1.4em;
  }

  h4 {
      font-size: 1em;
      padding-top: 1em;
      border-bottom: 1px solid;
  }

  .field_with_errors {
    input {
      background-color: #FFE8E8
    }
  }

  .form-inline {
    .field_with_errors {
      display: inline-block;
    }
  }
}