.devise {
  margin-top: 3em;
  h2 {
    text-align: center;
  }

  input {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    padding: 0.2em;
  }

  label {
    font-weight: normal;
  }

  #user_remember_me {
    margin-left: 1em;
    margin-right: 0.5em;
    width: 1em;
    height: 1em;
  }

  p {
    font-size: 0.8em;
  }
}

.devise_notice {
  background-color: #EFE;
  font-size: 1.6em;
  color: #10FF10;
  text-align: center;
  font-size: 1em;
}

.devise_alert {
  background-color: #FEE;
  font-size: 1.6em;
  color: #FF1010;
  text-align: center;
  font-size: 1em;
}