#header {
  margin: 1em;
  text-align: center;
  font-size: 1.2em;

  .shop_name {
    font-size: 1.8em;
    font-weight: bolder;
    text-align: left;
    a {
      color: #111;
    }
    a:hover {
      text-decoration: none;
    }
  }

  .shop_links {
    padding-top: 0.7em;
    font-weight: bolder;
  }

  .cart {
    padding-top: 0.7em;
    font-weight: bolder;
  }

  .user {
    font-size: 0.8em;
    padding-top: 1em;
    padding-left: 0;
    padding-right: 0;
  }

  .with_delimiter {
    li {
      display: inline;
      padding-left: 0.3em;
      padding-right: 0;
    }

    li:not(:first-child) {
      border-left: solid 2px grey;
    }
  }

}