#store_name, #shop_links, #cart_links, #user_links {
  width: 25%; float: left;
  text-align: center;
  ul {
    li {
      display: inline;
      padding-left: 0.3em;
      padding-right: 0;
    }

    li:not(:first-child) {
      border-left: solid 2px grey;
    }
  }
}

#store_name a {
  text-decoration: none;
  color: inherit;
  font-size: 1.2em;
}

#user_links {
  font-size: 0.9em;
}

#header {
  padding-top: 1em;
  height: 2.0em;
  background-color: #F8F8F8;
  a:hover {
    font-weight: bold;
  }
}
