body {
  font-size: 18px;
  margin-right: auto;
  margin-left: auto;
}

.alert {
  padding-top: 10px;
  padding-bottom: 10px;
}

.bbb {
  border: 1px solid;
}

input {
  // font-size: 0.9em !important;
}

.field_with_errors {
  input {
    background-color: #FFE8E8
  }
}